@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Play for Days!</h1>
    <p>
        Tell us when you can play and we'll organize a game for you!<br />
        This website has 3 tables (Sports, Players and Sporting Events).<br />
        For each of them, you can Create, Read, Update and Delete records. <br />
        The purpse of the website is to create a sport with multiple events<br />
        and then add multiple players to those individual events. This allows<br />
        users to see when they play and what they're playing.<br />
    </p>
</div>
