@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Play for Days!</h1>
    <p>
        Tell us when you can play and we'll organize a game for you!
        This website has 3 tables (Sports, Players and Sporting Events).
        For each of them, you can Create, Read, Update and Delete records.
        The purpse of the website is to create a sport and add it to various
        events at specific times/locations. Players that are available during
        these events are added and can participate in the scheduled sporting event.
    </p>
</div>
