@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Play for Days!</h1>
    <p>Tell us when you can play and we'll organize a game for you!</p>
</div>
